html {
  min-block-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 16px;
  /* text-align: center; */
}

body {
  background-color: hsl(34, 94%, 83%);
}

header {
  text-align: center;
  margin-top: 5%;
  border: 3px dotted hsl(234, 94%, 83%);
}

p {
  color: purple;
  margin: 0.5em 0;
}

button {
  display: block;
  margin: 20px 0 20px 20px;
}

.assessment1 {
  margin: 5% auto;
  border: 2px solid black;
}

.assessment2 > canvas {
  margin: 5% auto;
  border: 2px solid black;
}
